<%= form_with(model: sitting_request) do |form| %>
  <% if sitting_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sitting_request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% sitting_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p> Customer: <%= current_user.full_name %></p>
  <div hidden>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, value: current_user.id, id: 'hidden_user_id' %>
  </div>

  <div>
    <%= form.label :pet_name, style: "display: block" %>
    <%= form.text_field :pet_name %>
  </div>

  <div>
    <%= form.label :animal_id, style: "display: block" %>
    <%= form.select :animal_id, @animals, include_blank: true %>
  </div>

  <div>
    <%= form.label :drop_off, style: "display: block" %>
    <%= form.datetime_field :drop_off %>
  </div>

  <div>
    <%= form.label :pickup, style: "display: block" %>
    <%= form.datetime_field :pickup %>
  </div>

  <div class="mt-3">
    <%= form.submit %>
  </div>
<% end %>
