<div class="col">
  <p>
    <strong>Owner:</strong>
    <%= sitting_request.user.full_name %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Pet name:</strong>
    <%= sitting_request.pet_name %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Animal:</strong>
    <%= sitting_request.animal.animal_type %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Drop off:</strong>
    <%= sitting_request.drop_off %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Pickup:</strong>
    <%= sitting_request.pickup %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Request status:</strong>
    <%= sitting_request.request_status %>
  </p>
</div>

<div class="col">
  <p>
    <strong>Cost:</strong>
    <%= sitting_request.cost %>
  </p>
</div>