<div id="<%= dom_id sitting_request %>">
  <p>
    <strong>User:</strong>
    <%= sitting_request.user_id %>
  </p>

  <p>
    <strong>Pet name:</strong>
    <%= sitting_request.pet_name %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= sitting_request.animal_id %>
  </p>

  <p>
    <strong>Drop off:</strong>
    <%= sitting_request.drop_off %>
  </p>

  <p>
    <strong>Pickup:</strong>
    <%= sitting_request.pickup %>
  </p>

  <p>
    <strong>Request status:</strong>
    <%= sitting_request.request_status %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= sitting_request.cost %>
  </p>

</div>
